<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title><%= title %></5></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <h2>Do you have a message to share?</h2>
    <button>
      <a href="/new">
        New message
      </a>
    </button>
  </header>
  <main>
      <% messages.forEach((message) => { %>
        <div>
          <p>From: <%= message.username %> </p>
          <p>Message: <%= message.messagetext %> </p>
          <!-- How do I make this date show as a user friendly date? -->
          <p>Sent: <%= dateTime.getDateTime(message.added) %> </p>
          <form method="GET" action="/message">
            <input type="hidden" name="id" value="<%= message.id %>">
            <button type="submit">Open</button>
          </form>
        </div>
      <% }) %>
  </main>
</body>
</html>
