<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <div>
      <p>From: <%= messageDetail.username %> </p>
      <p>Message: <%= messageDetail.messagetext %> </p>
      <p>Sent: <%= dateTime.getDateTime(messageDetail.added) %> </p>
      <button>
        <a href="/">Close</a>
      </button>
    </div>
  </main>
</body>
</html>
